$orange: #ff9900;
body {
	font-family: 'Montserrat', sans-serif;
}
.about-us {
	display: flex;
	align-items: center;
}
.jumbo-viewall .inner-wrap .desc-wrap {
	background-image: none !important;
	padding: 0;
}
.jumbo-viewall .inner-wrap h2 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
}
.jumbo-viewall .inner-wrap .btn-jumbo {
	position: static !important;
	margin-top: 15px !important;
	background-color: $orange;
}
.jumbo-viewall .inner-wrap p {
	font-size: 16px;
}
.inner-wrap {
	flex-basis: 50%;
	padding: 0 !important;
}
.inner-wrap-right {
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.item {
		flex-basis: 45%;
		padding: 10px 20px;
		margin-bottom: 10px;
		box-shadow: 0px 0px 10px 0px rgba(112, 112, 112, 0.5);
		height: 250px;
		border-radius: 5px;
		img {
			width: 30%;
			margin: 10px;
		}
		h3 {
			text-transform: none;
			font-size: 23px;
		}
	}
}
.top-caption {
	background: $orange;
	color: white;
	padding: 10px;
	width: fit-content;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 25px;
	border-radius: 6px;
}
.promo-blocks {
	margin-top: 20px;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.promo-block {
		display: flex;
		flex-basis: 50%;
		align-items: center;
		img {
			width: 90px;
			height: 100%;
			margin-right: 10px;
		}
	}
}
.info-block {
	width: 70%;
}
.events {
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		text-align: center;
		font-weight: bold;
	}
}
.event-container {
	display: flex;
	flex-wrap: wrap;
	height: 800px;
	margin-bottom: 25px;
	margin-top: 25px;
	color: #fff;
	h3 {
		color: #fff;
		padding-left: 20px;
		padding-bottom: 20px;
	}
	p {
		padding-left: 20px;
	}
	.event-main {
		flex-basis: 49%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 1%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.event-secondary {
		flex-basis: 50%;
		.event-top {
			background-repeat: no-repeat;
			background-size: cover;
			margin-bottom: 15px;
			height: calc(50% - 15px);
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		.event-bot {
			background-repeat: no-repeat;
			background-size: cover;
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
}
.btn-primary {
	background-color: #1177d1;
	border-color: #1177d1;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-color: rgba(17, 119, 209, 0.8);
		border-color: rgba(17, 119, 209, 0.8);
	}
}
